[submodule "vitaGL"]
	path = vitaGL
	url = https://github.com/Rinnegatamante/vitaGL.git
[submodule "kubridge"]
	path = kubridge
	url = https://github.com/bythos14/kubridge.git
[submodule "vixl"]
	path = vixl
	url = https://github.com/Grarak/vixl.git
[submodule "soundtouch"]
	path = soundtouch
	url = https://codeberg.org/soundtouch/soundtouch.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
