workspace = { members = ["macros"] }
[package]
name = "dsvita"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[package.metadata.vita]
title_id = "DSVITA000"
title_name = "DSVita"
build_std = "std,panic_abort"
assets = "./static"

[dependencies]
bilge = { git = "https://github.com/Grarak/bilge.git" }
chrono = "0.4.33"
paste = "1.0.14"
static_assertions = "1.1.0"
dsvita_macros = { path = "macros" }
gl = { git = "https://github.com/bjz/gl-rs" }
glyph_brush = "0.7.9"

[target.armv7-unknown-linux-gnueabihf.dependencies]
libc = "0.2.153"
sdl2 = "0.37.0"

[build-dependencies]
bindgen = "0.69.4"
cc = "1.0.100"

[target.armv7-sony-vita-newlibeabihf.dependencies]
vitasdk-sys = { version = "0.3.2", features = [
    "SceAppMgr_stub",
    "SceAudio_stub",
    "SceCommonDialog_stub",
    "SceCtrl_stub",
    "SceDisplay_stub",
    "SceGxm_stub",
    "SceKernelThreadMgr_stub",
    "SceLibKernel_stub",
    "SceSysmem_stub",
    "SceTouch_stub",
    "ScePgf_stub",
    "SceKernelDmacMgr_stub",
    "SceShaccCg_stub",
    "ScePower_stub",
#    "SceRazorCapture_stub",
] }

[profile.release]
panic = "abort"
